{
    "presets": [
        "env",
        "stage-0",
        "react",
        "flow",
    ],
    "plugins": [
        "add-module-exports",
        "transform-runtime",
        [ "module-resolver", {
            "root": [ "./" ],
            "alias": {
                "actions": "./app/actions",
                "app": "./app",
                "components": "./app/components",
                "constants": "./common/constants",
                "containers": "./app/containers",
                "server": "./server",
                "services": "./app/services",
                "tools": "./common/tools"
            }
        } ]
    ]
}
