{
    "presets": [
        "env",
        "stage-0",
        "react",
        "flow"
    ],
    "plugins": [
        "add-module-exports",
        "transform-runtime",
        [ "module-resolver", {
            "root": [ "./" ],
            "alias": {
                "actions": "./client/actions",
                "app": "./client",
                "components": "./client/components",
                "constants": "./client/constants",
                "containers": "./client/containers",
                "server": "./server",
                "services": "./client/services",
                "typedef": "./client/flow"
            }
        } ]
    ],
    "env": {
      "production": {
        "presets": [
          [
            "minify", { "mangle": false }
          ]
        ]
      }
    }
}
